:root{
    --primary: #f8f7ec; 
    --secondary: #464646;
    --tertiary: #97ffcb;
}

header{
    background: #464646;
    display: flex;
    margin: 0px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

}

h1{
    background-color: #97ffcb;
    padding: 35px 20px;
    position: relative;
    left: 50px;
    font-size: 3em;
    border-radius: 25px;
    color: var(--secondary);  
}

nav{
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    position: relative;
    right: 10px; 
}

nav a{
  text-decoration: none;
  padding: 50px 20px;
  color: var(--tertiary);
  margin:5px 0px;
  background-image: linear-gradient(270deg, var(--tertiary) 0%, var(--tertiary) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: top;
  transition: all 0.25s ease-in;
  font-size: 1.5em;
}

nav a:hover{
    background-size: 100% 100%;
    color: var(--secondary);
}

.hero-banner{
    display: flex;
    position: relative;
    left: 10%;
    padding: 7em;
    background-image: url(../images/austin-skyline.jpg);
    background-repeat: no-repeat;
    justify-content: flex-start;
}

.hero-banner h2{
    display:flex;
    background: var(--secondary);
    border-radius: 25px;
    padding: 15px;
    justify-content: flex-start;
}

body{
    margin:0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--secondary);
}

h2{
    color: var(--tertiary);
    font-size: 2.5em;
}

.page-wrapper{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;

}

.about-me{
    max-width: 85%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.about-me h2{
    border-color: var(--tertiary);
    border-bottom: solid 4px;
}

.about-me p{
    font-size: 1.5em;
    background-color: var(--primary);
    padding: 10px 20px;
    border-radius: 25px;
}

.my-work h2{
    border-color: var(--tertiary);
    border-bottom: solid 4px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .flex-item {
    border: 5px solid var(--secondary);
    color: var(--tertiary);
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(45% - 1em);
    display: flex;
    align-items: flex-end;
    margin: 0.5em;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 150%;
    transition: all 0.5s;
    font-size: 0.9rem;
  }

  .flex-item div{
    background-color: var(--tertiary);
    color:var(--secondary);
    font-size: 2em;
  }

  .flex-item h3{
    margin: 5px 5px;
  }

  .flex-item:first-child{
    min-height: 400px;
    flex-basis: 100%;
  }

  .featured-work{
    background-image: url("../images/Website-SC.PNG");
  }
  
  .example-2{
    background-image: url("../images/ice-lake.jpg");
  }

  .example-3{
    background-image: url("../images/misty-mountains.jpg");
  }

  .example-4{
    background-image: url("../images/mountain-lake.jpg");
  }

  .example-5{
    background-image: url("../images/twilight-mountain.jpg");
  }